// ======================================================================
//  Buttons
// ======================================================================
button {
	width: 100%;
	display: block;
	padding: var(--gutter) calc(var(--gutter) * 2);
	background: var(--color-accent);
	color: #000;
	border: 0;
	transition: background 0.3s ease-in;

	&:active,
	&:hover {
		background: #fff;
	}

	&:focus {
		outline: 0;
	}
}
