// ======================================================================
// Header component
// ======================================================================
@import "../base/settings";

.header {
	padding: var(--gutter);
	display: flex;
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;	
	box-sizing: border-box;
}

.logo {
	width: 100%;
	display: block;
	margin: auto;
}

